<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <%= image_tag 'carousel-1.jpg', class:"img-fluid" %>
            <div class="carousel-inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Explore High-Quality MCCBs for Electrical Protection</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Discover our range of Molded Case Circuit Breakers (MCCBs) designed for reliable electrical protection.</p>
                            <a href="#" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">View Products</a>
                            <a href="#" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Request Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <%= image_tag 'carousel-2.jpg', class:"img-fluid" %>
            <div class="carousel-inner">
                <div class="container">
                  <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Efficient and Reliable Contactors for Electrical Switching</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Explore our advanced contactors designed for efficient electrical switching applications.</p>
                            <a href="#" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">View Products</a>
                            <a href="#" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Request Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <%= image_tag 'carousel-3.jpg', class:"img-fluid" %>
            <div class="carousel-inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Ensure Safety with Our ELCBs</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Explore our innovative Earth Leakage Circuit Breakers (ELCBs) for enhanced electrical safety.</p>
                            <a href="#" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">View Products</a>
                            <a href="#" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Request Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<%= render partial: 'product_display' %>

<%= render partial: 'about' %>

<%= render partial: 'products' %>

<%= render partial: 'footer' %>
